:root {
    --header-blue: #4EA0FF;
    --gray-text: #808080;
    --table-head-blue: #20A9E5;
    --table-row-blue: #B1E5F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /reset rules  */
/* header  */
header {
    background: url(img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: var(--header-blue);
    height: 120px;
    padding: 40px 0 10px 20px;
}

header img {
    width: 250px;
    height: 80%;
}

/* /header  */

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* article  */
article,
.suggested {
    padding: 10px;
}

article h1 {
    font-size: 36px;
    margin-top: 10px;
}

.subtitle {
    color: var(--gray-text);
}

.subtitle p:last-of-type {
    font-size: 12px;
}

.booleaner-link {
    text-decoration: none;
    color: var(--table-head-blue);
}

figure img {
    display: block;
    padding-top: 5px;
    margin-bottom: 10px;
}

figcaption {
    font-size: 12px;
}

.lorem-p {
    padding: 20px 0;
    text-align: justify;
}

ul {
    margin-left: 15px;
    padding-bottom: 25px;
}

/* table  */
table,
th,
td {
    border-spacing: 0;
}

table th:last-of-type {
    width: 50%;
}

thead {
    background-color: var(--table-head-blue);
    text-align: left;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: var(--table-row-blue);
}

/* /table  */

/* suggested  */
.suggested h3 {
    color: var(--gray-text);
    padding-bottom: 10px;
}

.suggested-imgs {
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.sugg-img {
    height: 200px;
    padding: 10px;
}

.lorem-monitor {
    background-image: url(img/monitor.jpg);
    margin-bottom: 10px;
}

.lorem-graph {
    background-image: url(img/graph.jpg);
}

/* /suggested  */