:root {
    --header-blue: #4EA0FF;
    --gray-text: #808080;
    --table-head-blue: #20A9E5;
    --table-row-blue: #B1E5F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: var(--header-blue);
    height: 120px;
    padding: 50px 0 10px 20px;
}

header img {
    width: 250px;
    height: 80%;
}

article {
    padding: 10px;
}

.subtitle {
    color: var(--gray-text);
}

.subtitle p:last-of-type {
    font-size: 12px;
}


.link {
    text-decoration: none;
    color: var(--table-head-blue);
}

figure img {
    display: block;
    padding-top: 5px;
}

figcaption {
    font-size: 12px;
}

.lorem-p {
    padding: 10px 0 20px 0;
}

.highlight-text {
    background-color: yellow;
    border-radius: 5px;
}